
body{
    background-color:#ee82ee

}
h1{
    font-family: "Georgia";
    font-size: 40px;
    color: #8265a8
}
.head{
    text-decoration-line: underline; 
    text-decoration-color:turquoise;
    display:flex;
    justify-content: space-between;
}
.menu{
    display:flex;
    justify-content: space-evenly;
    background-color: steelblue;
}
img{
    width: 200px; height:200px;
    border:salmon;
}
.gamelist{
    display:flex;
    justify-content: space-between;
}
.submenu{
    display:flex;
    flex-direction: column;
}